<h1>{{loginCtrl.get('login');}}</h1>
<hr>
<table class="transparent">
	<tr class="transparent">
		<td class="transparent">{{loginCtrl.get('emailLabel');}} :</td>
		<td class="transparent"><input type="text"
			placeholder="{{loginCtrl.get('emailPlaceholder');}}" ng-model="loginCtrl.email"></td>
	</tr>
	<tr class="transparent">
		<td class="transparent">{{loginCtrl.get('passwordLabel');}} :</td>
		<td class="transparent"><input type="password"
			ng-model="loginCtrl.password"></td>
	</tr>
	<tr class="transparent">
		<td class="transparent"></td>
		<td class="transparent"><button ng-click="loginCtrl.login();">{{loginCtrl.get('login');}}</button></td>
	</tr>
</table>

<h3>{{loginCtrl.getMessage();}}</h3>

<div ng-if="loginCtrl.user.name !== undefined">{{loginCtrl.user.name}}</div>
<div ng-if="loginCtrl.user.username !== undefined">{{loginCtrl.user.username}}</div>
