<div class="info-page-tile">
	<h3>{{growCtrl.get('growSettingsHeading');}}</h3>
	<form name="growSettingsForm" novalidate>
		<table>
			<thead>
				<tr>
					<th>{{growCtrl.get('itemLabel');}}</th>
					<th>{{growCtrl.get('valueLabel');}}</th>
					<th>{{growCtrl.get('adjustLabel');}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{growCtrl.get('plant_date');}}</td>
					<td>{{growCtrl.machine.settings.plant_date}}</td>
					<td><input id="plant_date" type="date" name="plant_date"
						ng-model="growCtrl.plant_date" min="2021-01-01" max="2030-12-31"
						pattern="\d{4}-\d{2}-\d{2}" required /></td>
				</tr>
			</tbody>
		</table>
		<div
			ng-if="growSettingsForm.plant_date.$touched && growCtrl.datesDifferent()">
			<h4 class="sideBySide">{{growCtrl.get('submitChangesPrompt');}}</h4>
			<button ng-click="growCtrl.submitChanges()">{{growCtrl.get('send');}}</button>
			<button ng-click="growCtrl.clearChanges()">{{growCtrl.get('reset');}}</button>
		</div>
	</form>
	<p>{{growCtrl.message}}</p>
</div>