<div class="info-page-tile">
	<h3>{{waterCtrl.get('waterSettingsHeading');}}</h3>
	<form name="waterSettingsForm" novalidate>
		<table>
			<thead>
				<tr>
					<th>{{waterCtrl.get('itemLabel');}}</th>
					<th>{{waterCtrl.get('valueLabel');}}</th>
					<th>{{waterCtrl.get('adjustLabel');}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="left">{{waterCtrl.get('water_in_valve_on')}}</td>
					<td>{{waterCtrl.get(waterCtrl.getOpenedOrClosed('water_in_valve_on'))}}</td>
					<td><label><input type="radio"
							name="water_in_valve_on" ng-model="waterCtrl.waterInValveOn"
							value="1" /> {{waterCtrl.get('open');}}</label> <label><input
							type="radio" name="water_in_valve_on"
							ng-model="waterCtrl.waterInValveOn" value="0" />
							{{waterCtrl.get('close');}}</label></td>
				</tr>
				<tr>
					<td class="left">{{waterCtrl.get('water_cycle_on')}}</td>
					<td>{{waterCtrl.get(waterCtrl.getOnOrOffLabel('water_cycle_on'))}}</td>
					<td><label><input type="radio" name="water_cycle_on"
							ng-model="waterCtrl.waterCycleOn" value="1" />
							{{waterCtrl.get('onLabel');}}</label> <label><input type="radio"
							name="water_cycle_on" ng-model="waterCtrl.waterCycleOn" value="0" />
							{{waterCtrl.get('offLabel');}}</label></td>
				</tr>

				<tr>
					<td class="left">{{waterCtrl.get('water_cycle_duration')}}</td>
					<td>{{waterCtrl.machine.settings.water_cycle_duration}}{{waterCtrl.get('secondsShortLabel');}}</td>
					<td><input type="number" name="water_cycle_duration" step="1"
						min="0" max="3600" ng-model="waterCtrl.waterCycleDuration">{{waterCtrl.get('secondsShortLabel');}}</td>
				</tr>
				<tr>
					<td class="left">{{waterCtrl.get('water_cycle_period')}}</td>
					<td>{{waterCtrl.currentCycleHours}}{{waterCtrl.get('hoursShortLabel');}}
						:
						{{waterCtrl.currentCycleMinutes}}{{waterCtrl.get('minutesShortLabel');}}</td>
					<td><input type="number" name="water_cycle_period" step="1"
						min="0" max="100" ng-model="waterCtrl.newCycleHours">{{waterCtrl.get('hoursShortLabel');}}
						<input type="number" name="water_cycle_period" step="1" min="0"
						max="59" ng-model="waterCtrl.newCycleMinutes">{{waterCtrl.get('minutesShortLabel');}}
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-if="waterCtrl.changesDetected()">
			<h4 class="sideBySide">{{waterCtrl.get('submitChangesPrompt');}}</h4>
			<button ng-click="waterCtrl.submitChanges()">{{waterCtrl.get('send');}}</button>
			<button ng-click="waterCtrl.refresh()">{{waterCtrl.get('reset');}}</button>
		</div>
		<p>{{waterCtrl.get(waterCtrl.message);}}</p>
	</form>
</div>