<div class="info-page-tile">

	<h3>{{authUsersCtrl.get('authorizedUsersHeading');}}</h3>

	<table ng-if="authUsersCtrl.hasUsers()">
		<tr>
			<th>{{authUsersCtrl.get('nameLabel');}}</th>
			<th class="not-mobile">{{authUsersCtrl.get('organizationLabel');}}</th>
			<th>{{authUsersCtrl.get('emailLabel');}}</th>
			<th>{{authUsersCtrl.get('optionsLabel');}}</th>
		</tr>
		<tr ng-repeat="user in authUsersCtrl.machine.authorizedUsers">
			<td>{{user.name}}</td>
			<td class="not-mobile">{{user.organization}}</td>
			<td>{{user.email}}</td>
			<td><button ng-if="authUsersCtrl.canRevoke(user);"
					ng-click="authUsersCtrl.revoke(user);">{{authUsersCtrl.get('revokeLabel');}}</button>
				<button ng-if="authUsersCtrl.canMakeOwner(user);"
					ng-click="authUsersCtrl.transfer(user);">{{authUsersCtrl.get('transferLabel');}}</button></td>
		</tr>
	</table>
	
	<h4>{{authUsersCtrl.get(authUsersCtrl.message);}}</h4>

</div>