<div>

	<h4>{{authUsersCtrl.get('authorizedUsersHeading');}}</h4>

	<table ng-if="authUsersCtrl.hasUsers()">
		<tr>
			<th>{{authUsersCtrl.get('nameLabel');}}</th>
			<th>{{authUsersCtrl.get('organizationLabel');}}</th>
			<th>{{authUsersCtrl.get('emailLabel');}}</th>
			<th>{{authUsersCtrl.get('revokeLabel');}}</th>
			<th>{{authUsersCtrl.get('makeOwnerLabel');}}</th>
		</tr>
		<tr ng-repeat="user in authUsersCtrl.machine.authorizedUsers">
			<td>{{user.name}}</td>
			<td>{{user.organization}}</td>
			<td>{{user.email}}</td>
			<td></td>
			<td></td>
		</tr>
	</table>

</div>