<!DOCTYPE html>
<html ng-app="HorticultureApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="lib/bootstrap.min.css">
<link rel="stylesheet" href="styles/style.css">
<link rel="shortcut icon" href="favicon.ico">
<title>Horticulture by Laygen</title>
</head>

<body ng-controller="CommonController as commonCtrl">

	<h1>{{commonCtrl.get('bannerText')}}</h1>

	<ui-view></ui-view>

	<!-- Libraries -->
	<script src="lib/jquery-2.1.4.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-ui-router.min.js"></script>

	<!-- Main Horticulture App Module -->
	<script src="src/horticultureapp.module.js"></script>

	<!-- Public Module -->
	<script src="src/public/public.module.js"></script>
	<script src="src/public/public.routes.js"></script>
	<script src="src/public/not-logged-in/login/login.controller.js"></script>
	<script src="src/public/not-logged-in/join/join.controller.js"></script>
	<script src="src/public/logged-in/logged-in.controller.js"></script>
	<script src="src/public/logged-in/not-selected/not-selected.controller.js"></script>
	<script src="src/public/logged-in/selected/selected.controller.js"></script>
	<script src="src/public/logged-in/selected/info/info.controller.js"></script>


	<!-- Common Module -->
	<script src="src/common/common.module.js"></script>
	<script src="src/common/appdata.service.js"></script>
	<script src="src/common/common.controller.js"></script>

	<div>
		<a ng-click="commonCtrl.setLang('en')"><img class="flag"
			src="img/united-kingdom.png" /></a> <a
			ng-click="commonCtrl.setLang('ko')"><img class="flag"
			src="img/south-korea.png" /></a><br>
		<p class="small-print">
			Flag icons made by <a class="footer-link"
				href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
				class="footer-link" href="https://www.flaticon.com/"
				title="Flaticon">www.flaticon.com</a>
		</p>
	</div>
</body>
</html>