:root { 
	--light-color: white;
	--light-text: white;
	--dark-text: black;
	--visited-text: rgb(211, 215, 207);
	--table-light-color: #ebf0f9;
	--main-dark-color: #1f386b; 
	--banner-height: 100px; 
	--banner-text-size: calc(var(--banner-height)/2);
	--button-height: 25px;
	--flag-width: 30px;
	--footer-height: 50px;
	--footer-font-size: 11px;
	--head-height: 50px; 
	--header-height: calc(var(--banner-height) + var(--head-height)); 
	--head-foot-color: grey; 
	--standard-pad: 10px; 
	--left-head-width: 255px; 
	--right-head-width: 350px;
	--chart-container-width: 335px;
	--content-width: calc(100vw - calc(var(--left-head-width) + calc(4 * var(--standard-pad))));
	--selector-width: 250px; 
	--selector-height: 300px; 
	--mobile-selector-height: 200px; 
	--standard-border: 0px; 
	--block-height: calc(100vh - calc(calc(var(--footer-height) + var(--header-height)) + calc(2 * var(--standard-pad)))); 
	--mobile-block-height: calc(var(--block-height) - var(--head-height));
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}


a.shortcut:link {
	color: var(--dark-text);
}

a.shortcut:visited {
	color: var(--dark-text);
}

a.footer-link:link{
	color: var(--light-color);
}

a.footer-link:visited {
	color: var(--visited-text);
}

a.download {
	text-decoration: none;
}

h1 {
	margin: var(--standard-pad) 0px;
}

h3 {
	margin: var(--standard-pad) 0px;
}

input[type=date] {
	width: 130px;
}

input[type=text] {
	width: 150px;
}

input[type=time] {
	width: 100px;
}

label {
	padding: var(--standard-pad);
}

p {
	padding: 0px;
}

select {
	padding: var(--standard-pad);
}

table, td, th {
	border: 1px solid var(--dark-text);
	text-align: center;
}

table {
	margin: var(--standard-pad) 0px;
	width: 100%;
}

td {
	padding: calc(var(--standard-pad) / 2);
}

th {
	font-weight: 900;
	color: var(--light-text);
	background-color: var(--main-dark-color);
	padding: var(--standard-pad);
}

tr:nth-child(odd) {
	background-color: #ebf0f9;
} 

table.transparent, table.transparent tr, table.transparent td, table.transparent th {
	background-color: var(--light-color);
	padding: 0px;
	color: var(--dark-text);
	border: none;
	text-align: left;
	margin: 0px;
	width: auto;
}

table.transparent {
	border-spacing: 0px var(--standard-pad);
}

td.transparent {
	min-width: var(--standard-pad);
}

tr.custom-color-row:nth-child(odd) {
	background-color: var(--light-color);
}

form.custom-color-adjuster {
	border: 2px solid red;
}

.after-float {
	clear: both;
}

.banner {
	font-size: var(--banner-text-size);
	color: var(--light-text);
	height: var(--banner-height);
	line-height: var(--banner-height);
	text-align: center;
	overflow: hidden;
}

.block {
	float: left;
	overflow-y: auto;
	height: var(--block-height);
}

.box {
	border: var(--standard-border) solid var(--dark-text);
	height: 100%;
	line-height: var(--selector-height);
	text-align: center;
}

.button, .button-red, .button-white {
	height: var(--button-height);
  	font: bold 15px Arial;
  	text-decoration: none;
  	width: 80px;
  	background-color: var(--main-dark-color);
  	color: var(--light-text);
  	padding: 2px 0px;
  	border-top: 1px solid #CCCCCC;
  	border-right: 1px solid #333333;
  	border-bottom: 1px solid #333333;
  	border-left: 1px solid #CCCCCC;
  	display: inline-block;
}

.button:hover, .button-red:hover, .button-white:hover {
	background-color: lightgrey;
	color: var(--dark-text);
}

.button-red {
	background-color: red;
}

.button-white {
	background-color: var(--light-color);
	color: var(--main-dark-color);
}

.button-container {
	text-align: left;
	margin: auto;
	display: inline-block;
}

.chart-container {
	margin-top: var(--standard-pad);
	margin-right: var(--standard-pad);
	float: left;
	width: var(--chart-container-width); 
}

.chart-container-large {
	width: 100%;
	margin: var(--standard-pad);
}

.clear {
	clear: left;
}

.content {
	border: var(--standard-border) solid var(--dark-text);
	padding-left: var(--standard-pad);
	padding-right: 0px;
	width: var(--content-width);
}

.col-left {
	width: 33%;
}

.col-mid {
	width: 24%;
}

.col-right {
	width: 43%;
}

.display-img {
	border: var(--standard-border) solid var(--dark-text);
	width: 100%;
	height: 100%;
}

.display-chart {
	border: 1px solid var(--dark-text);
	width: 100%;
	height: auto;
}

.flag {
	width: var(--flag-width);
	height: auto;
}

.footer {
	border: var(--standard-border) solid var(--dark-text);
	background-image: linear-gradient(to right, var(--main-dark-color),
		var(--dark-text));
	font-size: var(--footer-font-size);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	color: var(--light-text);
	height: var(--footer-height);
	text-align: center;
}

.header {
	border: var(--standard-border) solid var(--dark-text);
	padding: 0px var(--standard-pad);
	background-image: linear-gradient(to right, var(--main-dark-color),
		var(--dark-text));
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.img-container {
	float: left;
	width: calc(calc(var(--content-width) - calc(2 * var(--standard-border))) - calc(var(--selector-width) + calc(3 * var(--standard-pad))));
}


.info-page-tile {
	margin-right: calc(2 * var(--standard-pad));
	float: left;
}

.left {
	padding-left: var(--standard-pad);
	text-align: left;
}

.left-head, .right-head {
	margin-bottom: var(--standard-pad);
	float: left;
	color: var(--light-text);
	text-align: left;
}

.left-head {
	width: var(--left-head-width);
	margin-right: var(--standard-pad);
}

.margin-top {
	margin-top: var(--standard-pad);
}

.mobile-only {
	display: none;
}

.right-head {
	width: var(--right-head-width);
}

.selector {
	width: var(--selector-width);
	height: var(--selector-height);
	float: left;
}

.side-bar {
	border: var(--standard-border) solid var(--dark-text);
	width: var(--left-head-width);
}

.sideBySide {
	display: inline;
}

.small-space {
	height: var(--standard-pad);
	width: 100%;
}

.under-footer {
	height: var(--footer-height);
}

.under-header {
	height: var(--header-height);
	line-height: var(--header-height);
	width: 100%;
}

.under-header-not-logged-in {
	height: var(--header-height);
	width: 100%;
}

.view-area {
	padding: var(--standard-pad);
	overflow: hidden;
	display: block;
}

#custom-color-adjuster {
	display: none;
}

#data-selector {
	clear:both;
}

.settingsRefreshButton {
	margin-bottom: var(--standard-pad);
}

@media ( max-width : 991px) {
	.side-bar {
		display: none;
	}
	.content {
		width: calc(100vw - calc(2 * var(--standard-pad)));
	}
	.img-container {
		width: calc(100vw - calc(calc(4 * var(--standard-pad))) - var(--selector-width));
	}
}


/* Tablet */ 
@media ( min-width : 769px) and (max-width: 991px) {

}



/* Mobile */
@media ( max-width : 768px) {
	
	table {
		width: 100%;
	}
	
	.box {
		line-height: 50px;
	}
	
	.chart-container {
		width: 100%;
	}

	.content {
	padding: 0px;
		width: 100%;
		height: var(--mobile-block-height);
	}
	
	.header {
		padding: 0px var(--standard-pad);
	}
	
	.img-container {
		margin-top: calc(3 * var(--standard-pad));
		width: 100%;
		clear: both;
	}
	
	.info-page-tile {
		width: 100%;
		float: left;
		clear: left;
	}
	
	.left-head, .right-head {
		width: 100%;
		clear: left;
	}
	
	.mobile-only {
		display: inline;
	}
	
	.not-mobile {
		display: none;
	}
	
	.selector {
		size: 1;
		margin: 0px;
		width: 100%;
		height: var(--mobile-selector-height);
	}
	
	.under-header {
		height: calc(var(--header-height) + var(--head-height));
	}
	
	#data-selector {
	height: 200px; 
	}

	#image-selector {
	height: 100px;
	}
	
}